apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: backend
  labels: 
    app: backend-api
spec:
  replicas: 2
  selector:
    matchLabels:  
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
        - name: backend-api
          image: 192.168.49.1:5000/backend-api:4
          imagePullPolicy: Always
          ports:
             - containerPort: 3000
            